body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 1349px;
    height: 100px;
    text-align: center;
}

.container .picker{
    border-radius: 50px;
    display: table-cell;
    height: inherit;
    width: inherit;
    vertical-align: middle;
    cursor: pointer;
}